@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg--color : #212121; 
    --bg--secundary: #00628D;
    --color-resalt: #BDE4F7;
    /* --color-shadows: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    --color-hover: #009EE0;
    --bg-cards: #252525;
    --box_shadows: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --hover_buttons: #2e2e2e;


}

* {
    margin: 0;
    padding: 0;
    

}
a{
    text-decoration: none;
    color:inherit;
}

p {
    margin: 0
}


body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg--color);
}


.error {
    color: red;
    
}





.nav_login {
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
    padding: 12px;
    border-radius: 5px;
    background-color: var(--bg--secundary);
    text-decoration: none;
    font-size: 1rem;
    transition: .5s all;
    &:hover {
        background-color: var(--color-hover)
    };
}

.container_form_email {
    /* background-color: var(--bg); */
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px;
    height: 300px; */
    & form {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-cards);
        padding: 10px;
        max-width: 50rem;
        min-width: 30rem;
            border: 0.5px solid rgb(73, 73, 73);
        border-radius: 5px;
        
        & h3 {
            margin-bottom: 20px;
            color: white;
            font-size: x-large;
        }

        & input {
            margin: 10px 0px;
            height: 30px;
            width: max-content;
            outline: none;
            background-color: #212121;
            border: solid 0.5px rgb(85, 85, 85);
            color: white;
            padding: 5px 10px;
            font-size: medium;
            border-radius: 3px;
        }

        & button {
            /* width: 100%; */
            width: max-content;
            padding: 10px 20px;
            text-align: center;
            height: 34px;
            background-color: var(--bg--secundary);
            border-radius: 4px;
            border: none;
            color: white;
            cursor: pointer;
        }
    }



}



.container_inputs_code {
    & input {
        background: #202020;
        border: 0.5px solid rgb(63, 63, 63);
        height: 60px;
        width: 60px;
        margin: 0px 3px;
        border-radius: 10px;
        font-size: xx-large;
        text-align: center;
        color: white;
        transition: .5s all;
    }
    & input:focus {
            outline: 2px solid #3498db; 

    }
}   



.btn_verify {
    width: 100%;
    margin-top: 1.5vw;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #009EE0;
    border: none;
    font-size: medium;
    text-align: center;
    transition: .5s all;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn_verify:hover {
    background-color: #00628D;
}