
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bg--color : #282828; 
    --bg--secundary: #00628D;
    --color-resalt: #BDE4F7;
    --color-shadows: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --color-hover: #009EE0;
    --bg-cards: #363636;


}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg--color);
}




.nav_login {
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
    padding: 12px;
    border-radius: 5px;
    background-color: var(--bg--secundary);
    text-decoration: none;
    font-size: 1rem;
    transition: .5s all;
    &:hover {
        background-color: var(--color-hover)
    };
}




.container_form_code {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}





.form {
    padding: 15px;
    border: 0.2px solid rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: var(--bg-cards);
    max-width: 50rem;
    min-width: 30rem;
    & h3 {
        margin-bottom: 20px;
        color: white;
        font-weight: bold;
        font-size: x-large;
    }
}

.container_inputs {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;


& label {
    margin: 10px 0px;
}

& input {
    padding: 15px;
    color: white;
    border-radius: 3px;
    background-color: var(--bg--color);
    border: none;
    outline: none;

}



}



.btn_verify {
    width: 100%;
    margin-top: 1.5vw;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #009EE0;
    border: none;
    font-size: medium;
    text-align: center;
    transition: .5s all;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}