@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bg--color : #282828; 
    --bg--secundary: #00628D;
    --color-resalt: #BDE4F7;
    --color-shadows: rgba(0, 0, 0, 0.377);
    --color-hover: #009EE0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg--color);
    display: flex;
    justify-content: center;
    font-family: "Monstserrat";
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/*main conteiner*/
#login-container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:transparent;
    height: 700px;
    width: 55%;
    
    border-radius: 5%;
}
/*sub conteiner de la img del logo y texto*/
#logo{
    position: relative;
    margin-top: 0;
    display: block;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    width: 50%;
    background-color:transparent;

}
.txt-sobre-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align:center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
    transform: translatey(+35%);
    /*posisiono el texto a la altura de que quiero*/
    
}
#logo-img{
    width: 100%;
    display: block;
    margin: 0 auto 20px auto;
    position: relative;
    border-radius: 4%;
    box-shadow: 4px 4px 2px var(--color-shadows);
}

/*start formulario*/
#formulario{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    width:50%;
    height: 100%;
    border-radius: 10%;
}
#formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;  
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}
#formulario label {
    font-weight: 900;
    margin-bottom: 2px;
    font-size: 1em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
#formulario input {
    padding: 5px;
    font-size: 14px;
    border-radius: 8%;
    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.425);
}
h2{
    margin-bottom: 10px;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
#login-btn{
    border-radius: 7%;
    height: 40px;
    background-color: var(--bg--secundary);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #ffffff;
    &:hover{
        background-color: var(--color-hover);
        color: var(--bg--color);
    }
}
/*registrarse en caso de no tener cuenta*/
#register-redirect{
    
    font-weight: 500;
    font-size: 1em;
}
#register-redirect a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    &:hover{
        color: var(--color-resalt);
    }
}
#login-msg{
    font-size: 1em;  
    font-weight: 600;
}
.txt{
    color: white;
}

#swap-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.6rem 1.2rem;
    background: #ffffff;
    border: none;
    border-radius: 2rem;
    color: var(--bg--color);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    z-index: 999;
}


@media (max-width: 1024px) {
    #login-container{
        height: 600px;
        width: 75%;
    }

}
/*CELULAR VIEW*/
@media (max-width: 768px) {
    #login-container {
        flex-direction: column;
        width: 85%;
        height: auto;
        border-radius: 3%;
    }

    #logo {
        width: 85%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .txt-sobre-img {
        transform: translateY(+35%);
        font-size: 0.6em;
        text-align: center;
        padding: 5px;
    }

    #logo-img {
        width: 90%;
        border-radius: 3%;
        margin: 0;
    }

    #formulario {
        width: 100%;
        padding: 10px;
        height: auto;
        border-radius: 0;
    }

    #formulario form {
        padding: 10px;
    }

    h2 {
        font-size: 1.5em;
    }

    #formulario input {
        font-size: 1em;
        padding: 8px;
    }

    #login-btn {
        font-size: 1em;
        height: 40px;
    }

    #register-redirect,
    #login-msg {
        text-align: center;
        font-size: 0.95em;
    }

}