<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.ico')}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Inicio | UTNetwork</title>
</head>
<body>
    <section class="container">
    <div class="container_info_profile">
        <div>
            <img src="{{usuario['avatar'] }}" alt="">
            <p>{{usuario['nombre']}}</p>
        </div>
        <div class="nav_profile">
            <a href="">Mensajes</a>
            <a href="">Laboratorio</a>
            <a href="{{ url_for('logout') }}">Cerrar sesion</a>
        </div>
    
    </div>
    <div class="container_publish">
        <form action="{{ url_for('publicar') }}" method="POST">
            <textarea name="publicacion" id="publicacion" placeholder="en que estas pensando? {{usuario['nombre']}}" maxlength="500" ></textarea>
            <button type="submit">Publicar</button>
        </form>
        <!-- test pa ver como se ve, hacerlo lindoss -->
        <h2>{{publicaciones[0]['contenido']}}</h2>
    </div>
    <div class="right_container">
        <h2>Sugerencia de amigos</h2>

    </div>

    </section>
<script>
const usuario = '{{ usuario | tojson |safe }}';
localStorage.setItem('usuario', usuario)
</script>
</body>
</html>