<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static',filename='css/myprofile.css')}}">
    
    <title>Mi perfil</title>
</head>
<body id="body">
        {% include 'components/header.html' %}

    <div class="container_banner">
        <img src="{{url_for('static',filename='images/banner_black_profile.jpg')}}" alt="">
    </div>
    <div class="container_main">
        <aside class="left">
            <div class="container_profile_left">
                <picture class="picture_profile">
                    <img src="{{usuario['avatar']}}" alt="">
                </picture>
                <div class="container_info_user_left">
                    <h4>{{usuario['nombre']}}</h4>
                    <p>{{usuario['mail']}}</p>
                </div>

                {% if usuario['descripcion'] %}
                <p>{{usuario['descripcion']}}</p>
                {% else %}
                <textarea name="" id="" placeholder="agregar comentario"></textarea>
                {% endif %}
            </div>
        </aside>
        <main>
            <!-- <div class="container_publish">
                <div>
                    <picture>
                        <img src="{{usuario['avatar']}}" alt="">
                    </picture>
                    <form action="{{url_for('publicar')}}" method="POST" id="form_new_post">
                    <textarea id="input_publish" name='input_publish' type="text" placeholder="{{usuario['nombre']}}, {{pregunta}}"></textarea>
                    <div id="error_new_post" class="error_message"></div>
                </div>
                <button  type="submit">Publicar</button>
                </form>
            </div> -->
            <div>

            {% if publicaciones %}
            <div class="container_title_publication">
                <h2 class="h2_public">Publicaciones</h2>

            </div>
            {% for publicacion in publicaciones %}
                <div class="publish_card">
                    <div class="container_profile">

                    <div class="container_info_profile">
                        
                        <picture>
                            <img src="{{ usuario['avatar'] }}" alt="">
                        </picture>
                        <div class="container_info_profile_text">
                            <p>{{usuario['nombre']}}</p>
                            <p>{{publicacion['fecha']}}</p>
                            <input name="id_publi"id="id_publi" style="display: none;" value="{{publicacion['id_publicacion']}}">

                        </div>
                    </div>

                        <div class="container_info_profile_buttons" style="display: flex;">
                            {% if publicacion['id_user'] == usuario['id'] %}
                            <form method="POST" action="{{ url_for('eliminar_publi') }}">
                                <input type="hidden" name="id_publi" value="{{ publicacion['id_publicacion'] }}">
                                <button type="submit"><i class="fa-solid fa-xmark"></i></button>
                            </form>

                            <button style="margin-left: 10px; font-size: medium;" onclick="activateUpdate(this)"><i class="fa-solid fa-pen-to-square"></i></button>

                        {% endif %}
                        </div>
                        </div>

                    <div class="container_text">

                        <form action="{{url_for('actualizar_publi')}}" method="POST" id="form_update_text">
                        <input type="hidden" name="id_publi" value="{{ publicacion['id_publicacion'] }}">

                        <div class="view_publication" >
                            <p class="text">{{ publicacion['contenido'] }}</p>
                        </div>
                            
                        <div class="edit_publication" style="display: none;">
                            <textarea name="contenido" id="contenido">{{ publicacion['contenido'] }}</textarea>
                            <div id="error_update_post" class="error_message"></div>
                            <button type="submit" id="button_save_post"> Guardar</button>
                            <button onclick="cancelUpdate(this)">Cancelar</button>  
                        </div>
                        </form>
                    </div>
                </div>

            {% endfor %}
            {%if publicaciones|length > 39 %}
            <a href="{{ url_for('home', page=page + 1) }}">Cargar más</a>
            {% else %}
            
            <div class="if_not_publication">
                Misión completada. No hay más contenido por descubrir... por ahora.
            </div>
            {% endif %}

        {% else %}
            
            <div class="if_not_publication">
                Ups... no hay nada por aqui
            </div>
        {% endif %}
            </div>
        </main>
        <aside class="right">
            <div class="container_stats">
                <h5>Estadisticas</h5>
                <p>Publicaciones <span>{{stats['cant_publi']}}</span></p>
                <p>Seguidores <span>{{stats['cant_seguidores']}}</span></p>
                <p>Siguiendo <span>{{stats['cant_seguidos']}}</span></p>
            </div>
            

        </aside>
    </div>

    <script src="{{url_for('static',filename='js/modo-luz.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>