<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/images/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

    <title>Registrarse | UTNetwork</title>
</head>

<body id="body">
    <main>
        <button id="swap-btn" onclick="changue_BG()"><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="5" fill="currentColor"/>
            <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
        </button>
        <section class="container_login">

        <div>
            <div class="container_image_text">
                <div class="txt_img">
                <h2>UTNetwork</h2>
                <p>La red social elegida por futuros ingenieros y tecnicos.</p>
            </div>

            </div>
        </div>
        <div class="container_form_login">
            <h1 class="txt">Bienvenido</h1>
            <!-- <span>¡Nos alegra tenerte acá! En esta red podés conocer compañeros de otras carreras, enterarte de eventos y compartir tus experiencias como estudiante de la UTN.</span> -->
            <form action="" id="form">
                <!-- <h2 class="txt">INICIAR SESION</h2> -->
                <label class="txt" for="name" >Nombre</label>
                <input type="text" name="" id="name" placeholder="Ingresa tu nombre" required>
                <div class="error" id="error_name"></div>
        
                <label class="txt" for="mail" >Email</label>
                <input type="text" name="" id="email" placeholder="Ingresa tu email" required>
                <div class="error" id="error_email"></div>
                <label class="txt"for="password">Contraseña</label>
                <input type="password" name="" id="password" placeholder="*********" required>
                <div class="error" id="error_password"></div>
                <label class="txt" for="confirm_password">Repite La Contraseña</label>
                <input type="password" name="" id="confirm_password" placeholder="*********" required>
                <div class="error" id="error_confirm_password"></div>

                <div class="container_check">
                <span class="txt" for="check">Acepto los <a href="terminos.html" target="_blank">terminos y condiciones</a></span>
                <input type="checkbox" id="check">
                <div class="error" id="error_term"></div>
                </div>

                <div id="error_term"></div>
                <button  class="btn " type="submit">Registrarse</button>
                <div class=" alert alert-primary success_message" id="success_message"></div>
            </form>
        <div class="container_link_register">
            <p class="txt">Ya posee una cuenta?</p>
            <a href="../pages/login.html">Iniciar Sesion</a>
        </div>
        </div>
    </section>

    </main>
    <script src="../assets/js/modo-luz.js"></script>
    <script src="../assets/js/registerAuth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>    
</body>
</html>