<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.ico')}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">

    <title>Inicio | UTNetwork</title>
</head>
<body id="body">
    {% include 'components/header.html' %}

    <div class="container_main">
        <aside class="left">
            <div class="left_profile_div">
                <picture>
                    <img src="{{usuario['avatar']}}" alt="">
                </picture>
                <div>
                    <p>{{usuario['nombre']}}</p>
                    <p>{{usuario['mail']}}</p>
                    
                </div>

            </div>
            <nav class="left_profile_nav">
                    <a href="">
                        Facu Amigos
                    </a>
                    <a href="">
                        Mensajes
                    </a>
                    <a href="">
                        Configuracion
                    </a>
                    <a href="{{url_for('logout')}}">
                        Cerrar Sesion
                    </a>
            </nav>
        </aside>
        <main>
            
            <div>
                        {% for busca in busqueda %}
                <div class="publish_card">
                    <div class="container_profile">
                        <div class="container_info_profile">
                            <picture>
                                <img src="{{ busca['avatar'] }}" alt="">
                            </picture>
                            <div class="container_info_profile_text">
                                <form id="profileForm{{ busca.id }}" action="{{ url_for('profile') }}" method="POST" style="display: inline;">
                                    <input type="hidden" name="id_user" value="{{ busca.id }}">
                                    <a href="#" onclick="document.getElementById('profileForm{{ busca.id }}').submit(); return false;">
                                        {{ busca.nombre }}
                                    </a>
                                </form>
                                    
                                    
                                    {%if busca['id'] is not in seguidos %}   
                                    <form action="{{ url_for('seguir') }}" method="POST">
                                    <input name="id_seguido" id="id_seguido" style="display: none;" value="{{ busca['id'] }}">             
                                    <button class="btn_follow"><i class="fa-solid fa-user-plus"></i></i> Seguir</button>
                                    </form>
                                    {% else %}
                                    <form action="{{ url_for('unfollow') }}" method="POST">
                                    <input name="id_seguido" id="id_seguido" style="display: none;" value="{{ busca['id'] }}">
                                    <button class="btn_follow"><i class="fa-solid fa-user-minus"></i></i> No Seguir</button>
                                    </form>
                                    {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="publish_card">
                    <div class="container_profile">
                        <p>No se hallaron resultados.</p>
                    </div>
                </div>
            {% endfor %}
                            
                        </div>
        </main>
        <aside class="right">
            

            <div class="container_sugged_persons">
                
            {% for usuarios_sugerido in usuarios_sugeridos %}

                <form action="{{url_for('seguir')}}"  method="POST">

                    <div class="card_sugged_person">
                        <div class="container_sugged_person_info">
                            <picture class="container_sugged_person_picture">
                                <img src="{{usuarios_sugerido['avatar']}}" alt="">
                            </picture>
                                <div class="container_sugged_person_text">
                                    <p>{{usuarios_sugerido['nombre']}}</p>
                                    <input name="id_seguido"id="id_seguido" style="display: none;" value="{{usuarios_sugerido['id']}}">
                                </div>
                        </div>
                        <button class="btn_follow"><i class="fa-solid fa-plus"></i></button>
                    </div>

                </form>

                <!-- </div> -->
                {%endfor%}
        </div>

        </aside>
    </div>
<script src="{{url_for('static',filename='js/modo-luz.js')}}"></script>

<script src="{{url_for('static',filename='js/publicacion.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>