<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.ico')}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/confirm_mail.css')}}">
    <title>Confirmar Mail | UTNetwork</title>
</head>
<body>
    <body>
    <!-- <div class="container">
        <h2>Ingresa tu código</h2>
        <form class="form-codigo"id='form-codigo'>
            <div class="inputs">
                <input id="1c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="2c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="3c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="4c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="5c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="6c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
            </div>
            <button type="submit" class="confirm-btn">Confirmar</button>
            <p id="mensaje-respuesta"></p>
        </form>
        
    </div> -->


    <div class="container">
        <div class="container_card">

            <div class="container_img">
                <img src="{{ url_for('static', filename='images/email_icon.svg') }}" alt="">
                <h3>Confirmar Email</h3>
                <p>Por favor, verifique la bandeja de entrada de su correo electrónico.</p>
            </div>
            <div class="container_inputs">
                <input maxlength="1" pattern="[A-Za-z0-9]" type="text" name="" id="1c">
                <input maxlength="1" pattern="[A-Za-z0-9]" type="text" name="" id="2c">
                <input maxlength="1" pattern="[A-Za-z0-9]" type="text" name="" id="3c">
                <input maxlength="1" pattern="[A-Za-z0-9]" type="text" name="" id="4c">
                <input maxlength="1" pattern="[A-Za-z0-9]" type="text" name="" id="5c">
                <input maxlength="1" pattern="[A-Za-z0-9]" type="text" name="" id="6c">
            </div>
            <button onclick="enviarCodigo(event)" class="btn_verify">Verificar</button>
            <div class="container_re_send_code">
                <p>¿No recibiste el código? </p>
                <button onclick="reenviarCodigo(event)" class="btn_re_send_code">Reenviar codigo</button>
            </div>
            
            
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{{url_for('static',filename='/js/validar_count.js')}}"></script>
</body>
</body>
</html>