<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{url_for('static',filename='images/logo.ico')}}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/confirm_mail.css')}}">
    <title>Confirmar Mail | UTNetwork</title>
</head>
<body>
    <body>
    <div class="container">
        <h2>Ingresa tu código</h2>
        <form class="form-codigo"id='form-codigo'>
            <div class="inputs">
                <input id="1c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="2c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="3c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="4c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="5c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
                <input id="6c" type="text" maxlength="1" pattern="[A-Za-z0-9]" required>
            </div>
            <button type="submit" class="confirm-btn">Confirmar</button>
            <p id="mensaje-respuesta"></p>
        </form>
        
    </div>
    <script src="{{url_for('static',filename='/js/validar_count.js')}}"></script>
</body>
</body>
</html>