<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/recovery_password.css')}}">
    <title>Reestablecer contraseña</title>
</head>
<body>
        <a class="nav_login" href="{{url_for('login')}}">Volver</a>


        <div class="container_form_email">


            <form action="{{url_for('reestablecer_contra_codigo')}}" method="POST" class="form" id="form_email">
                <h3>Ingrese su email</h3>

                <input type="email" name="mail" id="mail">
                <button type="submit">Enviar</button>
                <div id="email_error" class="error"></div>
            </form>
            </div>

            

<script type="module" src="{{url_for('static',filename='js/recovery_password.js')}}"></script>
</body>

</html>